<section class="h-full pb-3">

<section class="bg-white p-3 ">
  <div class="w-full">
    <div class="flex items-center justify-between relative">
      <div class="flex items-center">
        <p class="text-md text-gray-400 font-bold ml-0">WAITING CUSTOMERS</p>
      </div>
      <div class="flex items-center">
        <div class="dropdown dropdown-end">
          <label tabindex="0">
            <i class="fa-solid fa-ellipsis-vertical text-gray-400 text-2xl"></i>
          </label>
          <ul tabindex="0" class="dropdown-content menu p-2 theme-shadow bg-white rounded-box w-40">
            <li class="text-black ml-2 text-sm font-medium py-1.5 border-b border-b-gray-300 sort-active">All
            </li>
            <li class="text-black ml-2 text-sm font-medium py-1.5 border-b border-b-gray-300">Waiting</li>
            <li class="text-black ml-2 text-sm font-medium py-1.5 border-b border-b-gray-300">No Show</li>
            <li class="text-black ml-2 text-sm font-medium py-1.5">Customer Entered</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="flex items-center bg-gray-100 rounded-lg px-4 mt-3"><i
      class="fa-solid fa-magnifying-glass text-black"></i>
    <input class="bg-transparent w-full py-2 px-3 placeholder:text-sm" placeholder="Search" />
  </div>
</section>

<section class="bg-gray-100 p-3 overflow-y-auto h-[77%]">

  <div>
    <label for="my-modal-4">
      <div class="w-full rounded-2xl bg-white border border-green-600 p-3 flex items-center justify-between">
        <div>
          <p class="text-xs">Customer Name</p>
          <p class="text-xs text-gray-400">9999999999</p>
          <div class="flex items-center mt-2">
            <p class="bg-gray-200 flex items-center text-xs text-green-600 p-1 px-2 rounded-md mr-2">10</p>
            <p class="bg-gray-200 flex items-center text-xs text-green-600 p-1 px-2 rounded-md mr-2">Waiting</p>
            <p class="bg-gray-200 flex items-center text-xs text-green-600 p-1 px-2 rounded-md mr-2">
              <i class="fa fa-clock mr-2"></i>
              5 min
            </p>

          </div>

        </div>
        <div class="flex ">
          <div class="bestSellerRgt">
            <p>P</p>
          </div>
          <i class="fa-solid fa-phone text-gray-400 text-xl mr-5"></i>
          <div class="dropdown dropdown-end">
            <label tabindex="0">
              <i class="fa-solid fa-ellipsis-vertical text-gray-400 text-2xl"></i>
            </label>
            <ul tabindex="0" class="dropdown-content menu p-2 theme-shadow bg-white rounded-box w-40">
              <li class="text-black ml-2 text-sm font-medium py-1.5 border-b border-b-gray-300 sort-active">Customer
                Entered
              </li>
              <li class="text-black ml-2 text-sm font-medium py-1.5 border-b border-b-gray-300">Waiting</li>
              <li class="text-black ml-2 text-sm font-medium py-1.5">No Show</li>
            </ul>
          </div>
        </div>
      </div>
    </label>
  </div>

  <div class="mt-4">
    <label for="my-modal-4">
      <div class="w-full rounded-2xl bg-white border border-yellow-600 p-3 flex items-center justify-between">
        <div>
          <p class="text-xs">Customer Name</p>
          <p class="text-xs text-gray-400">9999999999</p>
          <div class="flex items-center mt-2">
            <p class="bg-gray-200 flex items-center text-xs text-green-600 p-1 px-2 rounded-md mr-2">10</p>
            <p class="bg-gray-200 flex items-center text-xs text-green-600 p-1 px-2 rounded-md mr-2">Waiting</p>
            <p class="bg-gray-200 flex items-center text-xs text-green-600 p-1 px-2 rounded-md mr-2">
              <i class="fa fa-clock mr-2"></i>
              5 min
            </p>
          </div>

        </div>
        <div class="flex ">
          <div class="bestSellerRgt">
            <p>P</p>
          </div>
          <i class="fa-solid fa-phone text-gray-400 text-xl mr-5"></i>
          <div class="dropdown dropdown-end">
            <label tabindex="0">
              <i class="fa-solid fa-ellipsis-vertical text-gray-400 text-2xl"></i>
            </label>
            <ul tabindex="0" class="dropdown-content menu p-2 theme-shadow bg-white rounded-box w-40">
              <li class="text-black ml-2 text-sm font-medium py-1.5 border-b border-b-gray-300 sort-active">Customer
                Entered
              </li>
              <li class="text-black ml-2 text-sm font-medium py-1.5 border-b border-b-gray-300">Waiting</li>
              <li class="text-black ml-2 text-sm font-medium py-1.5">No Show</li>
            </ul>
          </div>
        </div>
      </div>
    </label>
  </div>

  <div class="mt-4">
    <label for="my-modal-4">
      <div class="w-full rounded-2xl bg-white border border-red-600 p-3 flex items-center justify-between">
        <div>
          <p class="text-xs">Customer Name</p>
          <p class="text-xs text-gray-400">9999999999</p>
          <div class="flex items-center mt-2">
            <p class="bg-gray-200 flex items-center text-xs text-green-600 p-1 px-2 rounded-md mr-2">10</p>
            <p class="bg-gray-200 flex items-center text-xs text-green-600 p-1 px-2 rounded-md mr-2">Waiting</p>
            <p class="bg-gray-200 flex items-center text-xs text-green-600 p-1 px-2 rounded-md mr-2">
              <i class="fa fa-clock mr-2"></i>
              5 min
            </p>
          </div>

        </div>
        <div class="flex ">
          <i class="fa-solid fa-phone text-gray-400 text-xl mr-5"></i>
          <div class="dropdown dropdown-end">
            <label tabindex="0">
              <i class="fa-solid fa-ellipsis-vertical text-gray-400 text-2xl"></i>
            </label>
            <ul tabindex="0" class="dropdown-content menu p-2 theme-shadow bg-white rounded-box w-40">
              <li class="text-black ml-2 text-sm font-medium py-1.5 border-b border-b-gray-300 sort-active">Customer
                Entered
              </li>
              <li class="text-black ml-2 text-sm font-medium py-1.5 border-b border-b-gray-300">Waiting</li>
              <li class="text-black ml-2 text-sm font-medium py-1.5">No Show</li>
            </ul>
          </div>
        </div>
      </div>
    </label>
  </div>

  <div class="mt-4">
    <label for="my-modal-4">
      <div class="w-full rounded-2xl bg-white border border-none p-3 flex items-center justify-between">
        <div>
          <p class="text-xs">Customer Name</p>
          <p class="text-xs text-gray-400">9999999999</p>
          <div class="flex items-center mt-2">
            <p class="bg-gray-200 flex items-center text-xs text-green-600 p-1 px-2 rounded-md mr-2">10</p>
            <p class="bg-gray-200 flex items-center text-xs text-green-600 p-1 px-2 rounded-md mr-2">Waiting</p>
            <p class="bg-gray-200 flex items-center text-xs text-green-600 p-1 px-2 rounded-md mr-2">
              <i class="fa fa-clock mr-2"></i>
              5 min
            </p>
          </div>

        </div>
        <div class="flex ">
          <i class="fa-solid fa-phone text-gray-400 text-xl mr-5"></i>
          <div class="dropdown dropdown-end">
            <label tabindex="0">
              <i class="fa-solid fa-ellipsis-vertical text-gray-400 text-2xl"></i>
            </label>
            <ul tabindex="0" class="dropdown-content menu p-2 theme-shadow bg-white rounded-box w-40">
              <li class="text-black ml-2 text-sm font-medium py-1.5 border-b border-b-gray-300 sort-active">Customer
                Entered
              </li>
              <li class="text-black ml-2 text-sm font-medium py-1.5 border-b border-b-gray-300">Waiting</li>
              <li class="text-black ml-2 text-sm font-medium py-1.5">No Show</li>
            </ul>
          </div>
        </div>
      </div>
    </label>
  </div>

  <div class="mt-4">
    <label for="my-modal-4">
      <div class="w-full rounded-2xl bg-white border border-none p-3 flex items-center justify-between">
        <div>
          <p class="text-xs">Customer Name</p>
          <p class="text-xs text-gray-400">9999999999</p>
          <div class="flex items-center mt-2">
            <p class="bg-gray-200 flex items-center text-xs text-green-600 p-1 px-2 rounded-md mr-2">10</p>
            <p class="bg-gray-200 flex items-center text-xs text-green-600 p-1 px-2 rounded-md mr-2">Waiting</p>
            <p class="bg-gray-200 flex items-center text-xs text-green-600 p-1 px-2 rounded-md mr-2">
              <i class="fa fa-clock mr-2"></i>
              5 min
            </p>
          </div>

        </div>
        <div class="flex ">
          <i class="fa-solid fa-phone text-gray-400 text-xl mr-5"></i>
          <div class="dropdown dropdown-end">
            <label tabindex="0">
              <i class="fa-solid fa-ellipsis-vertical text-gray-400 text-2xl"></i>
            </label>
            <ul tabindex="0" class="dropdown-content menu p-2 theme-shadow bg-white rounded-box w-40">
              <li class="text-black ml-2 text-sm font-medium py-1.5 border-b border-b-gray-300 sort-active">Customer
                Entered
              </li>
              <li class="text-black ml-2 text-sm font-medium py-1.5 border-b border-b-gray-300">Waiting</li>
              <li class="text-black ml-2 text-sm font-medium py-1.5">No Show</li>
            </ul>
          </div>
        </div>
      </div>
    </label>
  </div>






</section>

<div class="px-3">
  <button class="rounded-md w-full py-3 text-white bg-[#2f4f4f] text-sm cursor-pointer" routerLink="/new-entry"> New </button>
</div>

<!-- open modal -->

<input type="checkbox" id="my-modal-4" class="modal-toggle" />
<label for="my-modal-4" class="modal cursor-pointer">
  <label class="relative" for="">
    <ul class="dropdown-content menu p-2 bg-white rounded-box w-40">
      <li class="text-black ml-2 text-sm font-medium py-1.5 border-b border-b-gray-300 sort-active">Direct
      </li>
      <li class="text-black ml-2 text-sm font-medium py-1.5">App Integrated</li>
    </ul>
  </label>
</label>

</section>