
<!-- for Desktop view -->
<div class="desktop">
<section class="desktop-container">
    <div class="inner-desktop">
       <div class="inner-left-div">
         <p class="uppercase font-bold text-[25px] text-brown-400">chef <span class="text-yellow-600"> food</span></p>
         <p class="font-bold text-[40px] leading-10 my-5 "> 50 years old restaurant <br/> near you</p>
         <p class="text-[20px] font-bold ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit perspiciatis nostrum aliquid voluptas beatae, dolorem sed assumenda rem repellendus laudantium excepturi, iure numquam velit culpa! Commodi ipsum quaerat eum itaque.</p>
        <div class="flex items-center my-5">
            <i class="fa-brands fa-facebook text-yellow-500 mr-4 text-[35px]"></i>
            <i class="fa-brands fa-instagram text-yellow-500 mr-4 text-[35px]"></i>
            <i class="fa-brands fa-twitter text-yellow-500 mr-4 text-[35px]"></i>
        </div>
        </div>
        <div class="inner-right-div">
         <app-frame></app-frame>
        </div>
    </div>
</section>
</div>



<!-- for mobile view -->
<div class="mobile">
    <section class="h-full p-0 bg-white relative">
        <div class="h-[100%] overflow-y-auto">
            <router-outlet></router-outlet>
        </div>
    </section>
</div>



