.mockup-phone .display {
    margin-top: 0;
  }
  .mockup-phone {
    display: inline-block;
    border: 0px solid #444;
    border-radius: 50px;
    background-color: #000;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
  }
  .artboard.phone-1 {
    width: 360px;
    height: 640px;
  }
  
